
$header-height: 60px;
$border-size: 12px;

$accent-color: #23a2fd;
$danger-color: #e33737;
$white-color: #fff;
$gray-color: #eee;
$font-color: #333;
$font-secondary-color: #666;
$shadow-color: rgba(0, 0, 0, 0.1);

$transition-time: 0.3s;

:export {
  transitionTime: $transition-time;
}