@import "src/assets/style/variables.module";

.button {
  position: relative;

  background-color: $accent-color;
  padding: 12px;
  border-radius: $border-size;
  border: none;

  color: $white-color;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}