@import "src/assets/style/variables.module";

.page-layout {
  position: relative;

  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__header {
    height: $header-height;
    margin-bottom: 24px;
  }

  &__content {
    flex: 1 1;
  }

  &__tools {
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
}
