@import "src/assets/style/variables.module";

.header {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;

  background-color: $white-color;
  height: $header-height;
  border-radius: $border-size;

  display: flex;
  align-items: center;
  gap: 12px;

  box-shadow: 0 0 10px $shadow-color;
}