@import "src/assets/style/variables.module";

.header-back-link {
  position: relative;

  min-width: $header-height;
  max-width: $header-height;
  height: $header-height;
  border-radius: $header-height;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 28px;
    height: 28px;

    color: $font-color;
  }
}