@import "src/assets/style/variables.module";

.create-task-page {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.create-task-page-header {

  &__back {
    position: relative;

    width: $header-height;
    height: $header-height;
    border-radius: $header-height;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 28px;
      height: 28px;

      color: $font-color;
    }
  }
}